* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 1440px;
    height: 3450px;
    margin: 0 auto;
}

#main {
    position: relative;
}

a {
    text-decoration: none;

}

a:link {
    color: #FFF;
}

a:visited {
    color: #FFF;
  }

a:hover {
    color: #b4245f;
    transition: 0.3s;
}

#nav-bar {
    position: fixed;
    width: 1440px;
    height: 50px;
    background-color: #401252;
    opacity: 90%;
    font-size: 16px;
    color: #FFF;
    z-index: 5;
}

#logo-top {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 67px;
    top: 0px;
    opacity: 90%;
}

#home {
    position: absolute;
    left: 564px;
    top: 18px;
}

#home:hover {
    cursor: pointer;
}

#popular-products {
    position: absolute;
    left: 658px;
    top: 19px;
}

#popular-products:hover {
    cursor: pointer;
}

#black-friday {
    position: absolute;
    left: 832px;
    top: 19px;
}

#black-friday:hover {
    cursor: pointer;
}

#cart {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1316px;
    top: 13px;
}

#cart:hover {
    cursor: pointer;
}

header {
    position: absolute;
    width: 1440px;
    height: 725px;
    top: 0px;
}

#banner-container {
    width: 1440px;
    height: 725px;
}

#popular-container {
    position: absolute;
    width: 1440px;
    height: 725px;
    top: 725px;
    font-size: 18px;
}

#popular-title {
    position: absolute;
    left: 60px;
    top: 50px;
    color: #682383;
}

.card-container-popular {
    position: absolute;
    width: 1320px;
    height: 600px;
    left: 60px;
    top: 125px;
}

.card {
    position: absolute;
    width: 420px;
    height: 600px;
    border: 3px solid #682383;
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#pegasus {
    position: absolute;
    left: 0px;
}

#nmd1 {
    position: absolute;
    left: 450px;
}

#jordan {
    position: absolute;
    left: 900px;
}

#black-container {
    position: absolute;
    width: 1440px;
    height: 1375px;
    top: 1450px;
}

#black-title {
    position: absolute;
    left: 60px;
    top: 50px;
    color: #682383;
}

.card-container-black {
    position: absolute;
    width: 1320px;
    height: 1250px;
    left: 60px;
    top: 125px;
}

#nmd2 {
    position: absolute;
    left: 0px;
}

#revolution {
    position: absolute;
    left: 450px;
}

#energy {
    position: absolute;
    left: 900px;
}

#ultimashow {
    position: absolute;
    left: 0px;
    top: 650px;
}

#flyer {
    position: absolute;
    width: 420px;
    height: 600px;
    left: 450px;
    top: 650px;
}

#vtrack {
    position: absolute;
    width: 420px;
    height: 600px;
    left: 900px;
    top: 650px;
}

.discount {
    position: absolute;
    left: 367px;
    top: 10px;
    color: #a801ea;
    z-index: 1;
}

.shoes-img {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 10px;
    top: 10px;
    object-fit: contain;
}

.title {
    position: absolute;
    left: 10px;
    top: 408px;
    font-size: 24px;
    color: #682383;
}

.class {
    position: absolute;
    left: 10px;
    top: 465px;
    opacity: 50%;
}

.price {
    position: absolute;
    left: 10px;
    top: 527px;
}

.price-low {
    position: absolute;
    left: 10px;
    top: 527px;
    color: #a801ea;
}

.price-high {
    position: absolute;
    left: 105px;
    top: 527px;
    text-decoration: line-through 1.5px solid;
    opacity: 50%;
}

#brands-container {
    position: absolute;
    width: 1440px;
    height: 425px;
    top: 2825px;
}

#brands-container h1 {
    position: absolute;
    left: 630px;
    top: 50px;
    font-size: 32px;
    color: #682383;
}

#brand-cards {
    position: absolute;
    width: 800px;
    height: 200px;
    left: 320px;
    top: 175px;
}

.brand-card {
    transition: transform 0.2s;
}

.brand-card:hover {
    transform: scale(1.5);
    cursor: pointer;
}

#adidas {
    position: absolute;
    width: 200px;
    height: 200px;
}

#nike {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 200px;
}

#puma {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 400px;
}

#fila {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 600px;
}

footer {
    position: absolute;
    width: 1440px;
    height: 200px;
    top: 3250px;
    background-color: #401252;
    opacity: 90%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

#logo-bottom {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 50px;
    top: 35px;
    color: #FFF;
}

#instagram {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1254px;
    top: 45px;
}

#facebook {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1306px;
    top: 45px;
}

#linkedin {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1358px;
    top: 45px;
}

#bar-bottom {
    position: absolute;
    width: 1340px;
    height: 0px;
    left: 50px;
    top: 100px;
    border: 1px solid #FFFFFF;
}

#copyright {
    position: absolute;
    left: 50px;
    top: 136px;
    font-size: 12px;
    color: #FFF;
}